html,


body {
  display: flex;
  height: 100%;
  font-family: Raleway, Helvetica, sans-serif;
  flex-flow: column;
  align-items: center;
  background-color: #fcfbf8;
  color: #28364a;
  width: 90%;
  margin: auto;
}

div.content{
  
}

.tit {
  text-align: center;
}
/* color: rgb(238, 74, 61);
color: rgb(72, 155, 173);
color: rgb(225, 143, 71);
color: rgb(239, 216, 88); */
div.text {
  text-align: justify;
  text-justify: inter-word;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 40px,
}

div.icono {
  display: flex;
  flex-direction: row;
  align-items: CE;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.flechas {
  display: flex;
  flex-direction: row;
  /* align-items: CE; */
  text-align: center;
  margin-left: 400px;
}

.iF {
  margin-right: 150px;
}

div.tele {
  display: flex;
  flex-direction: row;
}

div.net {
  display: flex;
  flex-direction: row;
}
div.amazon {
  display: flex;
  flex-direction: row;
  transform: scale(0.8)
}
div.amazon1{
  margin: 20px;
}

div.flex-container{
  display: flex;
}

div.internet{
  position: absolute;
  left: 200px;
  border-radius: 20px;
  background-color: #ece8e5;
  margin: auto;
  height: 300px;
  width: 500px;
  text-align: center;
  
}
/* div.internet:hover {
  background-color: #db6e6e;
  margin: auto;
} */

 
div.comercio{
  position: center;
  border-radius: 30px;
  background-color: #ece8e5;
  margin: auto;
  flex-direction: column;
  height: 300px;
  width: 500px;
  text-align: center;
}

/* div.comercio:hover {
  background-color: #fdd584;
  text-align: auto;
} */

div.telefonia{
  position: absolute;
  right: 200px;
  border-radius: 20px;
  background-color: #ece8e5;
  margin: auto;
  margin-right: 50px;
  height: 300px;
  width: 500px;
  text-align: center;
}

/* div.telefonia:hover {
  background-color: #9fc8da;
  margin: auto;
  margin-right: 50px;
} */

div.tele {
  transform: scale(0.8);
}




div.titulotelefonia {
  transform: scale(1.2);
  border-radius: 20px;
  background-color: #9fc8da;
  margin: auto;
}
div.titulointernet {
  transform: scale(1.2);
  border-radius: 20px;
  background-color: #db6e6e;
  margin: auto;
}
div.titulocomercio {
  transform: scale(1.2);
  border-radius: 20px;
  background-color: #fdd584;
  margin: auto;
}

div.tat {
  font-size: small;
}

div.ptelefonia{
  display: none;
}

div.pinternet{
  display: none;
}

div.pcomercio{
  display: none;
}

div.grafico{
  align-items: column;

}