body {
<<<<<<< HEAD
  background-color: rgb(255, 255, 255);
  font-family: "Apple Color Emoji", Regular, monospace;
=======
  font-family: 'Apple Color Emoji', Regular, monospace;
  width: 90%;
  font-size: 30px;
  margin: auto;
  padding:20px 15px
}
.todin{
  background-color:rgb(30, 30, 88);
  font-family: 'Apple Color Emoji', Regular, monospace;
>>>>>>> ca2e105f5f808317618d924e8e7b6b0ef90ab453
  width: 90%;
  font-size: 30px;
  color: rgb(211, 211, 211);
  margin: auto;
  padding: 20px 15px;
}

h1 {
  margin-bottom: 0%;
  /* text-decoration: double underline red; */
}

h2 {
  text-decoration: underline magenta;
}

h3.subtitle {
  color: gray;
  /* text-indent: 1em; */
}

p {
  font-size: small;
  text-indent: 1.5em;
  text-align: justify;
}

p.fuente {
  text-align: right;
  font-style: italic;
  color: gray;
}

span.magenta-font {
  color: magenta;
}

span.italic {
  font-style: italic;
}

img#result {
  height: 200px;
}

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* div.info-container {
  display: flex;
  flex-direction: row;
}

div.content {
  display: flex;
  flex-direction: center;
} */

div.description {
  flex: 8;
}

div.img-container {
  flex: 4;
  text-align: center;
  align-items: center;
  margin: auto;
}

div.svg-container {
  margin: auto;
}

text.x-tick {
  font-size: 10px;
}

text.y-tick {
  font-size: 10px;
}

body {
  font-family: "roboto", sans-serif;
  width: 90%;
  margin: auto;
}

h1 {
  flex: 4;
  text-align: center;
  align-items: center;
  margin: auto;
}

h2 {
  text-decoration: underline magenta;
}

h3.subtitle {
  color: gray;
  /* text-indent: 1em; */
}

p {
  font-size: small;
  text-indent: 1.5em;
  text-align: justify;
}

p.fuente {
  text-align: right;
  font-style: italic;
  color: gray;
}

span.magenta-font {
  color: magenta;
}

span.italic {
  font-style: italic;
}

img#result {
  height: 200px;
}

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* div.info-container {
  display: flex;
  flex-direction: row;
}

div.content {
  display: flex;
  flex-direction: center;
} */

div.description {
  flex: 8;
}

div.img-container {
  flex: 4;
  text-align: center;
  align-items: center;
  margin: auto;
}

div.svg-container {
}

text.x-tick {
  font-size: 10px;
}

text.y-tick {
  font-size: 10px;
}
