body {
    background-color: rgb(255, 255, 255);
    font-family: "Apple Color Emoji", Regular, monospace;
    width: 90%;
    font-size: 30px;
    color: rgb(22, 22, 22);
    margin: auto;
    padding: 20px 15px;
}
div.i1 {
    padding: 30px;
    background-color: rgb(30, 30, 88);
    margin: auto;
}
div.i2 {
    padding: 30px;
    background-color: rgb(30, 30, 88);
    margin: auto;
}

div.i1:hover {
    background-color: rgb(46, 46, 109);
}
div.i2:hover {
    background-color: rgb(46, 46, 109);
}