body {
    background-color: rgb(255, 255, 255);
    font-family: "Apple Color Emoji", Regular, monospace;
    width: 90%;
    font-size: 30px;
    color: rgb(22, 22, 22);
    margin: auto;
    padding: 20px 15px;
}