html,
body {
  display: flex;
  height: 100%;
  font-family: Raleway, Helvetica, sans-serif;
  flex-flow: column;
  align-items: center;
  background-image: linear-gradient(#23cdf8, white);
  background-color: #da1d91;
}

.contenedor {
  border-radius: 1%;
  border-color: rgb(51, 51, 51);
  border-style: solid;
  background-color: whitesmoke;
}
