html,


body{
  display: flex;
  height: 100%;
  font-family: Raleway, Helvetica, sans-serif;
  flex-flow: column;
  align-items: center;
  background-color: #fcfbf8;
  color: #28364a;
  width: 90%;
  margin: auto;
}
.pag{
  display: flex;
  flex-direction: row;
}

.graf{
  display: flex;
  flex-direction: row;
}

.tit {
  text-align: center;
  
}
/* color: rgb(238, 74, 61);
color: rgb(72, 155, 173);
color: rgb(225, 143, 71);
color: rgb(239, 216, 88); */
div.text {
  text-align: justify;
  text-justify: inter-word;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 40px,
}

div.icono {
  display: flex;
  flex-direction: row;
  align-items: CE;
  font-family: Raleway, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  padding: 20px;
}


.iF {
  margin-right: 150px;
}

div.tele {
  display: flex;
  flex-direction: row;
}

div.net {
  display: flex;
  flex-direction: row;
}
div.amazon {
  display: flex;
  flex-direction: row;
  transform: scale(0.8)
}
div.amazon1{
  margin: 20px;
}
/* BOTONES */
div.flex-container{
  display: flex;
  margin: auto;
  margin-right: 100px;
}

div.b-comercio{
  position: absolute center;
  margin: auto;
  flex-direction: column;
  text-align: center;
}

/* div.comercio:hover {
  background-color: #fdd584;
  text-align: auto;
} */

div.b-internet{
  position: absolute right;

  margin: auto;
  text-align: center;
  
}
/* div.internet:hover {
  background-color: #db6e6e;
  margin: auto;
} */


div.b-telefonia{
  position: absolute left;
  
  margin: auto;
  text-align: center;
}

/* div.telefonia:hover {
  background-color: #9fc8da;
  margin: auto;
  margin-right: 50px;
} */

/* TERMINAN LOS BOTONES */

div.tele {
  transform: scale(0.8);
}


div.titulotelefonia {
  transform: scale(1.2);
  border-radius: 20px;
  background-color: #9fc8da;
  margin: auto;
  text-align: center;
}
div.titulointernet {
  transform: scale(1.2);
  border-radius: 20px;
  background-color: #db6e6e;
  margin: auto;
  text-align: center;
}
div.titulocomercio {
  transform: scale(1.2);
  border-radius: 20px;
  background-color: #fdd584;
  margin: auto;
  text-align: center;
}

div.tat {
  font-size: small;
}

div.ptelefonia{
  display: none;
}

div.pinternet{
  display: none;
}

div.pcomercio{
  display: none;
}

div.grafico{
  align-items: column;

}

div.botoncines{
  text-align: center;
}
div.boton-volver{
  position: absolute;
}

div.subtelefonia{
  text-align: center;
}
div.subcomercio{
  text-align: center;
}
div.subinternet{
  text-align: center;
}